.header {
  padding: 20px; 
  text-align: center; 
  background: #11dfa1; 
  color:white; 
}

.header h1 {
  font-size: 40px;
}
.navbar {
  overflow: hidden;
  background-color: rgb(9, 147, 240);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(14, 240, 6);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown3 {
  float: left;
  overflow: hidden;
}

.dropdown3 .dropbtn3 {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown3:hover .dropbtn3 {
  background-color: red;
}

.dropdown3-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown3-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown3-content a:hover {
  background-color: #ddd;
}

.dropdown3:hover .dropdown3-content {
  display: block;
}
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}


.side {
  flex: 30%; 
  background-color: #f1f1f1; 
  padding: 20px; 
}


.main {
  flex: 70%; 
  background-color: white; 
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}


@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
.footer {
  padding: 10px; 
  text-align: center; 
  background: #ddd; 
}